
accelerate
colored
controlnet_aux==0.0.6
cuda-python
# TODO: Pin Diffusers version after the next release
git+https://github.com/huggingface/diffusers.git # Install from source for the latest changes in main
ftfy
matplotlib
nvtx
onnx==1.15.0
onnxruntime==1.17.3
opencv-python==4.8.0.74
scipy
transformers==4.42.2
--extra-index-url https://pypi.nvidia.com
nvidia-modelopt[torch,onnx]==0.15.1
onnx-graphsurgeon
polygraphy==0.49.9
sentencepiece
